{% extends 'base.html.twig' %}

{% block body %}
<form>
    <input name="title" type="text" />
    <button type="submit">search by title</button>
    <input name="year" type="number" />
    <button type="submit">search by year</button>
    <input name="director" type="text" />
    <button type="submit">search by director</button>
</form>
{% endblock %}
