{% extends 'base.html.twig' %}

{% block body %}
<form>
    <input name="title" type="text" value="{% if data is defined and data|length > 0 %}{{ data.queries.title }}{% endif %}" />
    <button type="submit">search by title</button>
</form>
<table>
  {% if data is defined and data|length > 0 %}
  {% for movie in data.movies %}
  <thead>
    <tr>
      <th>Titre</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        {{ movie.title }}
      </td>
    </tr>
  </tbody>
  {% endfor %}
  {% endif %}
</table>
{% endblock %}
