<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
{#        <title>{% block title %}Chacun son cinéma{% endblock %}</title>#}
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css" media="screen"/>
        {% endblock %}
    </head>
    <body>
    {% block title %}
        <h2>Chacun Son Cinéma</h2>
    {% endblock %}
    {% block header %}
    {% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
