<html>
<header>
    <title>Chacun son cinéma</title>
</header>
<body>
<h1>Chacun son cinéma</h1>
<form>
    <input name="title" type="text" value="{{ title }}" />
    <button type="submit">search by title</button>
    <input name="year" type="number" value="{{ year }}" />
    <button type="submit">search by year</button>
    <input name="director" type="text" value="{{ director }}" />
    <button type="submit">search by director</button>
</form>

</body>
</html>